* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(105, 105, 166);
  color: white;
}

main {
  height: calc(100vh - 140px);
}

.container {
  width: 80%;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

