*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


body{
  background-color: rgb(105, 105, 166);
  color: white;
}

.container{

  width: 80%;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}